<% provide :title, t(".title")  %>

<h2>Help</h2>
<p>
  <%= t ".word_url",
  link1: <%= link_to href="http://www.railstutorial.org/help" %>
  <%= t ".word4",
  link2: <%= link_to href="http://www.railstutorial.org/book" %>
</p>
