<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("menu1"), home_path %></li>
        <li><%= link_to t("menu2"), help_path %></li>
        <li><%= link_to t("menu3"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
